@font-face {
  font-family: 'Ogg';
  font-weight: 400;
  src: url('~assets/fonts/Ogg-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('~assets/fonts/Inter/Inter-Light.ttf') format('truetype'); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('~assets/fonts/Inter/Inter-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}
